
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      padding-top: 50px;
      color: #5a5a5a;
    }
    .lead li{
      margin-bottom: 10px;
    }

    .muted { 
      font-weight: 300;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
      background-image: url(./images/header-bg/4.jpg);
      background-size: cover;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      min-height: 500px;

    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel .jumbotron {
      background-color: rgba(0,0,0,0.66);
      position: static;
      padding: 10px 0px 20px 20px;
      margin-top: 200px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .carousel .jumbotron #checkins {
      color: #CCCCCC;
      padding: .75em 0 0 0;
    }
    .carousel .jumbotron h1,
    .carousel .jumbotron .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 2px 2px rgba(0,0,0,.4);
    }
    .carousel .jumbotron .btn {
      margin-top: 10px;
    }




    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing > div {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing p {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      text-align: center;
    }
    .marketing .btn {
      text-align: center;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 40px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 20px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: 0px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      padding-bottom: 40px;
    }
    .featurette p { 
      text-align: left;
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    .memberbox{margin-top:15px; margin-bottom:10px;}
    .memberbox h2{color:#aaa; font-size:150%; margin-bottom:0}
    .carousel .jumbotron .pix-thumb{position:relative; min-width:45px; margin-right:5px; border-radius:6px; width:45px; height:45px; background-image: url(./images/captain.png); background-size: 100% 100%;}
    .membercheckin{margin-top:20px; color:#fff}
    .carousel .jumbotron{margin-top:100px}
    .tip{display:inline-block; position:relative}
    
    #projects { text-align: left; }
    


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {

      }
      .carousel img {
        width: auto;
      }

      .carousel .jumbotron {

      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }

      .forkme {
        display: none;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      
      .carousel .jumbotron {
        margin-bottom: 20px;
      }

      .carousel .item {
        min-height: 300px;
      }
      .carousel img#carousel-image {
        min-height: 300px;

      }
      .carousel .jumbotron {
        width: 96%;
        padding: 10px;
        margin-top: 56px;
        text-align: center;
        max-width: 767px;
      }
      .carousel .jumbotron h1 {
        font-size: 30px;
      }
      .carousel .jumbotron .lead,
      .carousel .jumbotron .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }